<meta charset="utf-8" />
<title>{{ title }}</title>
<base href="/" />

<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Old skull blog" />
<!-- / meta -->

<!-- open graph -->
<meta property="og:description" content="Blog about programming and IT" />
<meta property="og:title" content="old-skull-blog" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://old-skull-blog.surge.sh/" />
<meta property="og:image" content="https://old-skull-blog.surge.sh/img/logo/logo-blue-512.png" />
<meta property="og:image:alt" content="Website icon" />
<meta
  property="og:image:secure_url"
  content="https://old-skull-blog.surge.sh/img/logo/logo-blue-512.png"
/>
<meta property="og:image:type" content="image/svg" />
<meta property="og:image:height" content="512" />
<meta property="og:image:width" content="512" />
<meta property="og:locale" content="en_US" />
<!-- / open graph -->

<!-- favicon -->
<link rel="favicon" href="favicon.ico" type="image/x-icon" />
<!-- favicon -->

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap"
  rel="stylesheet"
/>
<!-- / fonts -->

<!-- prism -->
<link rel="stylesheet" href="https://unpkg.com/prismjs/plugins/treeview/prism-treeview.min.css" />
<link
  rel="stylesheet"
  href="https://unpkg.com/prismjs/plugins/line-highlight/prism-line-highlight.min.css"
/>
<link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism-okaidia.min.css" />
<!-- / prism -->

<!-- styles -->
<link rel="stylesheet" href="/styles/index.css" />
<!-- / styles -->
