.app {
  &-layout {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .app {
    &-layout {
      row-gap: 2rem;
      max-width: 100%;
    }
  }
}
