@use '_normalize';
@use 'prism';
@use 'includes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace !important;
}

html,
body {
  height: 100%;
}

body {
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

img {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
}

li {
  list-style-position: inside;
}

h1 {
  margin: 0 0 1.2rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1.2rem 0 0.25rem 0;
}

p {
  margin: 0.5rem 0;
}

code,
pre {
  margin: 1rem 0 !important;
  overflow: auto;
  width: 100%;
}
