:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #282c34;
}

.language-bash {
  // .token.variable,
  // .token.operator,
  .token.function:first-child {
    color: #8cc265;
  }

  .token.function {
    color: inherit;
  }
}

code[class*='language-ts'],
pre[class*='language-ts'] {
  color: #e06c75;
}
.language-ts,
.language-tsx {
  color: #e06c75;
  .token {
    &.operator {
      color: #abb2bf;
    }
    &.punctuation {
      color: #abb2bf;
      & + .maybe-class-name {
        color: #e06c75;
      }
    }
    &.comment {
      color: #7f848e;
    }
    &.parameter {
      font-style: italic;
    }
    &.keyword {
      color: #c678dd;
    }
  }
}
.language-ts .token.builtin,
.language-ts .token.maybe-class-name {
  color: #e5c07b;
}
.language-ts .token.keyword.this,
.language-ts .token.dom.variable,
.language-ts .token.class-name {
  color: #e5c07b;
}

.language-js,
.language-jsx {
  color: #e06c75;
  .token {
    &.operator {
      color: #abb2bf;
    }
    &.punctuation {
      color: #abb2bf;
    }
    &.comment {
      color: #7f848e;
    }
    &.parameter {
      font-style: italic;
    }
    &.keyword {
      color: #c678dd;
    }
  }
}

.language-inline {
  color: #ffffff !important;
}
