.token.treeview-part .entry-line {
  position: relative;
  text-indent: -99em;
  display: inline-block;
  vertical-align: top;
  width: 1.2em;
}
.token.treeview-part .entry-line:before,
.token.treeview-part .line-h:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
.token.treeview-part .line-h:before,
.token.treeview-part .line-v:before {
  border-left: 1px solid #ccc;
}
.token.treeview-part .line-v-last:before {
  height: 50%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.token.treeview-part .line-h:after {
  height: 50%;
  border-bottom: 1px solid #ccc;
}
.token.treeview-part .entry-name {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
